@model WaterCompany.Models.DeliveryViewModel

@{
    ViewData["Title"] = "Deliver";
}
<br />
<br />
<h1 style="text-align:center;" class="big-title1"><i class="fas fa-truck"></i> Deliver</h1>
<hr class="center-ball" />
<br />
<div class="row centerform">
    <div class="col-md-12">
        <form class="form123" asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="card text-black" style="border-radius: 5px; box-shadow: rgba(0,0,0,0.35) 0 5px 25px;">
                <div class="card-body">
                    <br />
                    <div class="form-group">
                        <label asp-for="DeliveryDate" class="control-label"></label>
                        <div class="input-group date" data-provide="datepicker">
                            <input type="text" asp-for="DeliveryDate" class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                            <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <br />
                        <button type="submit" value="Save" class="btn btn-outline-primary"><i class="fas fa-save"></i> Save</button>
                        <a class="btn btn-outline-info" asp-action="Index"><i class="fas fa-backward"></i> Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<br />
<br />
<br />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        <script type="text/javascript">
            $(document).ready(function () {
                var userLang = navigator.language || navigator.userLanguage;
                console.log(userLang);
                var options = $.extend({}, // empty object
                    $.datepicker.regional[pt - Pt], {
                    dateFormat: "dd/mm/yyyy"
                } // your custom options
                );
                $(".date").datepicker(options);
            });
        </script>
    }
}