@model WaterCompany.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<br />
<br />
<br />
<br />
<h1 class="big-title">
    <i class="fas fa-key"></i> Change Password
    <hr class="center-ball" />
</h1>
<div class="row centerform">
    <div class="col-md-12">
        <form class="form123" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="card text-black" style="border-radius: 5px; box-shadow: rgba(0,0,0,0.35) 0 5px 25px;">
                <div class="card-body">
                    <br />
                    <div class="form-outline">
                        <label asp-for="OldPassword">Current password</label>
                        <input type="password" asp-for="OldPassword" class="form-control text-center" />
                        <span asp-validation-for="OldPassword" class="text-warning"></span>
                    </div>
                    <br />
                    <div class="form-outline">
                        <label asp-for="NewPassword">New Password</label>
                        <input type="password" asp-for="NewPassword" class="form-control text-center" />
                        <span asp-validation-for="NewPassword" class="text-warning"></span>
                    </div>
                    <br />
                    <div class="form-outline">
                        <label asp-for="Confirm">Confirm Password</label>
                        <input type="password" asp-for="Confirm" class="form-control text-center" />
                        <span asp-validation-for="Confirm" class="text-warning"></span>
                    </div>
                    <div class="form-outline">
                        <br />
                        <button type="submit" value="Change password" class="btn btn-outline-primary"><i class="far fa-plus-square"></i> <i class="fas fa-key"></i> Change Password</button><br /><br />
                        <a class="btn btn-outline-info" asp-action="ChangeUser"><i class="fas fa-backward"></i> Back to Manage Account</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<br />
<br />
<br />
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }