@model WaterCompany.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<br />
<br />
<br />
<br />
<h1 class="big-title">
    <i class="fas fa-key"></i> Reset Password
    <hr class="center-ball" />
</h1>
<div class="text-success text-center">
    <p>
        @ViewBag.Message
    </p>
</div>
<div class="row centerform">
    <div class="col-md-12">
        <form class="form123" method="post">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="Token" />
            <div class="card text-black" style="border-radius: 5px; box-shadow: rgba(0,0,0,0.35) 0 5px 25px;">
                <div class="card-body">
                    <br />
                    <div class="form-group">
                        <label asp-for="UserName">Username</label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-warning"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password">New password</label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-warning"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ConfirmPassword">Confirm</label>
                        <input asp-for="ConfirmPassword" type="password" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <button type="submit" value="Recover" class="btn btn-outline-primary"><i class="fas fa-key"></i> Reset Password</button><br /><br />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }