@model WaterCompany.Data.Entities.Consumption

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Consumption</h4>
<hr class="center-ball" />
<div class="row">
    <div class="col-md-4">
        <form class="form123" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConsumptionDate" class="control-label"></label>
                <input asp-for="ConsumptionDate" class="form-control" />
                <span asp-validation-for="ConsumptionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Echelon" class="control-label"></label>
                <input asp-for="Echelon" class="form-control" />
                <span asp-validation-for="Echelon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitaryValue" class="control-label"></label>
                <input asp-for="UnitaryValue" class="form-control" />
                <span asp-validation-for="UnitaryValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalConsumption" class="control-label"></label>
                <input asp-for="TotalConsumption" class="form-control" />
                <span asp-validation-for="TotalConsumption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

