@model WaterCompany.Data.Entities.Client

@{
    ViewData["Title"] = "Details";
}

<br />
<br />

<h1 style="text-align:center;">Client Details</h1>
<hr />
<br />
<div class="centerform">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary"><i class="fas fa-pen-square"></i></a>
    <a class="btn btn-outline-primary" asp-action="Index"><i class="fas fa-backward"></i></a>
</div>
<br />
<div class="row col align-self-center">
    <div class="col-md-12">
        <dl class="row data_table" style="padding-left: 35px;">

            <partial name="_DetailsDelete_Clients" />

        </dl>
    </div>
</div>