[data-theme="dark"] {
    background-color: #212121 !important;
    color: white;
}

    [data-theme="dark"] .bg-black {
        background-color: #212121 !important;
    }

    [data-theme="dark"] .bg-dark  {
        background-color: white !important;
    }

    [data-theme="dark"] .bg-light {
        background-color: #212121 !important;
    }

    [data-theme="dark"] .bg-white {
        background-color: #212121 !important;
    }

    [data-theme="dark"] .dropdown-menu {
        background-color: #212121 !important;
    }
    [data-theme="dark"] .p-3 {
        background-color: #212121 !important;
    }
    
    [data-theme="dark"] .nav-item a {
        color: white !important;
    }

    [data-theme="dark"] .nav-item {
        color: white !important;
    }

    [data-theme="dark"] .nav-item a:hover {
        color: dimgrey !important;
    }

    [data-theme="dark"] .text {
        color: whitesmoke !important;
    }

    [data-theme="dark"] .backg {
        color: whitesmoke !important;
    }

    [data-theme="dark"] h2 {
        color: white !important;
    }

    [data-theme="dark"] h3 {
        color: white !important;
    }

    [data-theme="dark"] hr {
        background-color: white !important;
    }

    [data-theme="dark"] table {
        color: white !important;
    }

    [data-theme="dark"] .card-body {
        background-color: #212121 !important;
    }

    [data-theme="dark"] .newsletter-subscribe {
        background-color: #212121 !important;
    }

    [data-theme="dark"] .text-center {
        color: white !important;
    }

    [data-theme="dark"] .row {
        background-color: #212121 !important;
    }

    [data-theme="dark"]  .card-header  {
        background-color: #212121 !important;
    }

    [data-theme="dark"] .card-footer {
        background-color: #212121 !important;
    }
