<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Next Level</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="~/images/drops.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="https://stackpath.bootstrappcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/dark-mode.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Syncfusion ASP.NET Core controls styles -->
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.3.47/fluent.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand"><img style="paddig-top: 50px;" src="~/images/Logo1.png" height="65px" width="auto" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ml-auto navbar-right-top flex-grow-1">
                        <li class="nav-item ">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Offers"><i class="far fa-newspaper"></i> Offers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="ContactUs"><i class="fas fa-envelope"></i> Contact Us</a>
                        </li>
                        @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown nav-user">
                                <a style="color: #343a40; cursor: pointer;" class="dropdown-toggle nav-link nav-user-img" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-briefcase"></i> Backoffice</a>
                                <div class="dropdown-menu dropdown-menu-left nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Register"><i class="fas fa-user-plus"></i> Register</a>
                                    <a class="dropdown-item" asp-controller="Users" asp-action="Index"><i class="fas fa-user"></i> Users</a>
                                    <a class="dropdown-item" asp-controller="Roles" asp-action="Index"><i class="fas fa-book"></i> Roles</a>
                                    <a class="dropdown-item" asp-controller="Countries" asp-action="Index"><i class="fas fa-globe-europe"></i> Countries and Cities</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown nav-user">
                                <a style="color: #343a40; cursor: pointer;" class="dropdown-toggle nav-link nav-user-img" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-sync"></i> Management</a>
                                <div class="dropdown-menu dropdown-menu-left nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                    <a class="dropdown-item" asp-controller="Contracts" asp-action="Index"><i class="fas fa-file-signature"></i> Contracts</a>
                                    <a class="dropdown-item" asp-controller="Clients" asp-action="Index"><i class="fas fa-users"></i> Clients</a>
                                    <a class="dropdown-item" asp-controller="Employees" asp-action="Index"><i class="fas fa-user-secret"></i> Employees</a>
                                    <a class="dropdown-item" asp-controller="Invoices" asp-action="Index"><i class="fas fa-file-invoice-dollar"></i> Invoices</a>
                                    <a class="dropdown-item" asp-controller="Consumptions" asp-action="Index"><i class="fas fa-tint"></i> Consumptions</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown nav-user">
                                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-tasks"></i></a>
                                <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                    <div class="nav-user-info" style="background-color:#007bff;">
                                        <a class="mb-0 text-white nav-user-name" asp-controller="Account" asp-action="ChangeUser" style="background-color:#007bff; font-size: 11px;">&ensp;@this.User.Identity.Name</a>
                                    </div>
                                    <a class="dropdown-item" href="#"><i class="fas fa-user mr-2"></i>Account</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Settings</a>
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout"><i class="fas fa-power-off mr-2"></i> Logout</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown nav-user">
                                <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-tasks"></i></a>
                                <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Login"><i class="fas fa-sign-in-alt mr-2"></i>Login</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Settings</a>
                                </div>
                            </li>
                        }
                        <li class="nav-item dropdown connection">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-fw fa-th"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                <li class="connection-list">
                                    <div class="row">
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a asp-controller="Home" asp-action="About" class="connection-item"><img src="~/images/aboutUs.png" alt=""> <span>About</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a asp-controller="Home" asp-action="Offers" class="connection-item"><img src="~/images/offers.png" alt=""> <span>Offers</span></a>
                                        </div>
                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 ">
                                            <a class="connection-item" asp-controller="Home" asp-action="Privacy"><img src="~/images/privacy.png" alt=""> <span>Privacy</span></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar">
                            <h3 class="navbar-brand mr-auto"></h3>
                            <nav class="navbar-nav">
                                <div class="nav-link">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="darkSwitch" />
                                        <label class="custom-control-label" for="darkSwitch"></label>
                                    </div>
                                </div>
                            </nav>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Syncfusion ASP.NET Core Script Manager -->
    <ejs-scripts></ejs-scripts>

    <footer class="text-center text-dark col100 footer2">
        <div class="container pt-4">
            <section class="mb-4">
                <a class="btn btn-link btn-floating btn-lg text-light m-1"
                   href="https://en-gb.facebook.com/cinelcentroformacaoeletronica/" target="_blank"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="btn btn-link btn-floating btn-lg text-light m-1"
                   href="https://twitter.com/cinel_formacao?lang=pt" target="_blank"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="btn btn-link btn-floating btn-lg text-light m-1"
                   href="https://www.google.com/" target="_blank"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-google"></i>
                </a>
                <a class="btn btn-link btn-floating btn-lg text-light m-1"
                   href="https://www.instagram.com/cinel.formacao/" target="_blank"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="btn btn-link btn-floating btn-lg text-light m-1"
                   href="https://www.linkedin.com/in/andr%C3%A9-fernandes-4b181a1a9/" target="_blank"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a class="btn btn-link btn-floating btn-lg text-light m-1"
                   href="https://github.com/andre03fernandes" target="_blank"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <i class="fab fa-github"></i>
                </a>
            </section>
        </div>
        <div class="text-center text-dark p-3 col100 footer2" style="background-color: white">
            <a class="text-dark backg">&copy; @DateTime.Now.Year - André Fernandes. All rights reserved. Enjoy it!</a>
        </div>
    </footer>

    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <div class="scrollTop" onclick="scrollToTop();"><img src="~/images/up-arrow.png" /></div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/js/dark-mode-switch.min.js"></script>
    <!-- Syncfusion ASP.NET Core controls scripts -->
    <script src="https://cdn.syncfusion.com/ej2/20.3.47/dist/ej2.min.js"></script>
    <script>
        window.addEventListener('scroll', function () {
            var scroll = document.querySelector('.scrollTop');
            scroll.classList.toggle("active", window.scrollY > 500)
        })

        function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            })
        }
    </script>
    <script>
        $(window).on("load", function () {
            $(".loader-wrapper").fadeOut("slow");
        });
    </script>
    @*   <script type="text/javascript" id="cookieinfo"
    src="//cookieinfoscript.com/js/cookieinfo.min.js"
    data-bg="#1f4f66"
    data-fg="#FFFFFF"
    data-link="#f1d600"
    data-moreinfo="https://nextlevel25853.azurewebsites.net/Home/Privacy"
    data-message="Cookies help us deliver the best experience on our website. By using our website, you agree to the use of cookies."
    data-text-align="center"
    data-close-text="Got it!"
    @*data-cookie="CookieInfoScript">
    </script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>