
<br />
<br />
<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">About us</h1>
                <p class="lead text-muted mb-0">At Next Level, we always seek harmony and </p>
                <p class="lead text-muted">
                    good atmosphere among all employees and clients.
                    </a>
                </p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
        </div>
    </div>
</div>
<br />
<br />
<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1">
                <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Team Work</h2>
                <p class="font-italic text-muted mb-4">The strength of the team is each individual member. The strength of each member is the team.</p>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6">
                <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
                <h2 class="font-weight-light">Team Spirit</h2>
                <p class="font-italic text-muted mb-4">You need an environment where your employees are not afraid to share even their silliest ideas. A place where they are respected, loved and heard, where they feel like an important part of the team.</p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="bg-light py-1 me">
    <div class="container py-1">
        <div class="row mb-4">
            <div class="col-lg-12">
                <br />
                <h2 class="big-title text-center">THE BOSS</h2>
                <p class="font-italic text-muted text-center">With great power comes great responsibility.</p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-sm-12">
                <div class="bg-white rounded shadow-sm py-1 px-1">
                    <img src="~/images/admin.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">André Fernandes</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />